# Dependencies
node_modules/

# Environment
.env
env/*.env

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# Generated Reports
reports/
allure-results/

# Logs
logs/
*.log

# Screenshots
screenshots/

# Downloads
downloads/
allure-report/
allure-results/
